    .container {
    position: relative;
    border-style:dashed ;
    border-color:rgb(131, 228, 41) ;
    border-width: 3px;
}
    section {
    /* position is static by default */
    margin-left: 200px;
    border-style:solid ;
    border-color:rgb(245, 187, 112) ;
    border-width: 3px;
    background-color:wheat;
}
    nav {
    float:left;
    width: 195px;
    position: absolute;
    border-style:solid ;
    border-color:rgb(233, 80, 9) ;
    border-width: 3px;
}
 
    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: rgb(44, 223, 255);
    width: 100%;
    border-style:solid ;
    border-color:rgb(160, 167, 229) ;
    border-width: 3px;
}
    body {
    margin-bottom: 120px;
}